* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 20px;
}

.box {
  width: 350px;
  margin-bottom: 40px;
}

.redborder {
  padding: 10px;
  border: 1px solid rgb(232, 89, 77);
}

.centerColor {
  background-color: rgb(221, 221, 221);
}

.blue {
  background-color: rgb(48, 141, 192);
}

.yellow {
  background-color: #ffa500;
}

p {
  margin: 0;
}
